@import '../../variables';
@import '~@angular/material/theming';

@mixin custom-tab-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-tab-group {
    .mat-tab-label {
      opacity: 1;
      &.mat-tab-label-active {
        background-color: mat-color($primary);
        color: mat-color($primary, '900-contrast');
      }
    }
  }
}
