<form #urlForm="ngForm" (ngSubmit)="onEnter($event.target.value)">
  <mat-form-field class="url-bar" appearance="outline">
    <mat-label>Type</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="url"
      name="url"
      [disabled]="!!defaultUrl"
      [pattern]="urlPattern"
      [value] = "currentUrl"
      required
      #urlRef="ngModel"
      (keyup.enter) = "onEnter(!urlRef.invalid)"
    />

    <ng-container *ngIf="urlRef.invalid && (urlRef.dirty || urlRef.touched)">
      <mat-error *ngIf="urlRef.errors.pattern && !urlRef.errors.required">
        Please enter a valid url address
      </mat-error>
      <mat-error *ngIf="urlRef.errors.required">
        Url is
        <strong>required</strong>
      </mat-error>
    </ng-container>
  </mat-form-field>
</form>
