<div class="container">
  <div class="row">
    <div class="col-md-10">
      <mat-tab-group
        class="main-tab-group mt-2"
        [selectedIndex]="selectedTab"
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab *ngFor="let tab of tabs; let tabIndex = index">
          <ng-template mat-tab-label>
            {{ tab.label }}
            <i class="close-ico" (click)="removeTab(tabIndex)">
              <mat-icon>close</mat-icon>
            </i>
          </ng-template>

          <div>
            <app-tab-content [tab]="tab"></app-tab-content>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-2">
      <button
        mat-icon-button
        color="primary"
        aria-label="Browsing"
        (click)="addNewBrowsingTab()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        aria-label="History"
        (click)="addNewHistoryTab()"
      >
        <mat-icon>history</mat-icon>
      </button>
    </div>
  </div>
</div>
