// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '../variables';
@import 'modules/mat-tab';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

/* For use in src/lib/core/theming/_palette.scss */
$mat-blue: (
  50: #e4e7ec,
  100: #bcc4ce,
  200: #8f9dae,
  300: #62768e,
  400: #405875,
  500: #1e3b5d,
  600: #1a3555,
  700: #162d4b,
  800: #122641,
  900: #0a1930,
  A100: #6b9cff,
  A200: #387aff,
  A400: #0558ff,
  A700: #004eeb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-orange: (
  50: #f9ece6,
  100: #f1cfc2,
  200: #e8af99,
  300: #df8f70,
  400: #d87751,
  500: #d15f32,
  600: #cc572d,
  700: #c64d26,
  800: #c0431f,
  900: #b53213,
  A100: #ffeae5,
  A200: #ffbfb3,
  A400: #ff9480,
  A700: #ff7f66,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-primary: mat-palette(
  $base-palette: $mat-blue,
);
$custom-accent: mat-palette(
  $base-palette: $mat-orange,
);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme(
  $primary: $custom-primary,
  $accent: $custom-accent,
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$custom-typography: mat-typography-config(
  $font-family: $main-font,
);

@include angular-material-typography($config-or-theme: $custom-typography);
@include angular-material-theme($theme-or-color-config: $custom-theme);
@include custom-tab-theme($theme: $custom-theme);
/*@include custom-button-theme($theme: $custom-theme);
@include custom-form-field-theme($theme: $custom-theme);
@include custom-radio-field-theme($theme: $custom-theme);
@include custom-mat-menu-theme();
@include custom-mat-table-theme();
@include custom-mat-dialog-theme();
@include expansion-panel-field-theme();*/
