<button
  color="primary"
  mat-icon-button
  aria-label="Back"
  (click)="onBackClick()"
  [disabled]="!isBackClickable()"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  color="primary"
  mat-icon-button
  aria-label="Back"
  (click)="onForwardClick()"
  [disabled]="!isForwardClickable()"
>
  <mat-icon>arrow_forward</mat-icon>
</button>

<button
  color="primary"
  mat-icon-button
  aria-label="Back"
  (click)="onRefreshClick()"
>
  <mat-icon>refresh</mat-icon>
</button>

<button
  color="primary"
  mat-icon-button
  aria-label="Back"
  (click)="onHomeClick()"
>
  <mat-icon>home</mat-icon>
</button>
