
<main class="content">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="heading-secondary p-16">Browser</h2>
      <app-browser></app-browser>
    </div>
    <div class="col-md-2 log-col">
      <h2 class="heading-secondary">Log output</h2>
      <app-log></app-log>
    </div>
  </div>
</div>
</main>
