table {
    width: 100%;
    text-align: center !important;
  }
  .mat-header-cell {
    text-align: center;
    vertical-align: middle;
  }

  .mat-cell {
    text-align: center;
    vertical-align: middle;
  }

  .mat-column-date{
      width: 30%;
  }