<div class="controls-wrapper">
  <app-controls-panel></app-controls-panel>
  <app-url-bar></app-url-bar>
</div>

<div *ngIf="!!currentUrl">
  <h3 class="heading-thertiary">
    You are visiting
    <span class="b">{{ currentUrl }}</span>
  </h3>
  <iframe
    width="400"
    height="400"
    [src]="currentUrl | safe"
    name="myFrame"
  ></iframe>
</div>
