<div class="log" *ngFor="let item of logItems">
  <div class="log__item">
    <span>{{ item.date | date: 'yyyy-M-d h:mm:ss' }}</span>
    <span>{{ item.description }}</span>
    <span>{{ item.currentUrl }}</span>
  </div>
</div>
