@import 'variables';
@import 'material/material';
@import '~@angular/material/theming';

.controls-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.heading-secondary {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 1em;
  color: mat-color($custom-primary);

  @media (max-width: $tablet-s) {
    font-size: 16px;
  }
}
.heading-thertiary {
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 1em;
  color: mat-color($custom-accent);
}

.p-16 {
  padding: 0 16px;
}

.b {
  font-weight: 700;
}
