/*!
 * Bootstrap v4.0.0-alpha.6 (http://getbootstrap.com)
 * Copyright (c) 2011-2017 Twitter, Inc.
 * Copyright (c) 2011-2017 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@import 'variables';

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: $mobile-s) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-s) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-m) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-l) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/*
 @media (min-width: $mobile-s) {
   .container {
     width: 540px;
     min-width: 100%;
   }
 }
 
 @media (min-width: $tablet-s) {
   .container {
     width: 720px;
     min-width: 100%;
   }
 }
 
 @media (min-width: $tablet-m) {
   .container {
     width: 960px;
     min-width: 100%;
   }
 }
 */

@media (--xxl) {
  .container {
    width: 1200px;
    min-width: 100%;
    padding: 0;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: $mobile-s) {
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: $tablet-s) {
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-m) {
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-l) {
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

@media (min-width: $mobile-s) {
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
}

@media (min-width: $tablet-s) {
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
}

@media (min-width: $tablet-m) {
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
}

@media (min-width: $tablet-l) {
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-smm-5,
.col-smm-6,
.col-smm-7,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg2-3,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: $mobile-s) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-smm-5,
  .col-smm-6,
  .col-smm-7,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg2-3,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-s) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-smm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-smm-5,
  .col-smm-6,
  .col-smm-7,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg2-3,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-m) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-smm-5,
  .col-smm-6,
  .col-smm-7,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg2-3,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: $tablet-l) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-smm-5,
  .col-smm-6,
  .col-smm-7,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg2-3,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 8.33333%;
  min-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  min-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  min-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  min-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  min-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  min-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  min-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  min-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  min-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  min-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  min-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  min-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.33333%;
}

.pull-2 {
  right: 16.66667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.33333%;
}

.pull-5 {
  right: 41.66667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.33333%;
}

.pull-8 {
  right: 66.66667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.33333%;
}

.pull-11 {
  right: 91.66667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: $mobile-s) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .pull-sm-0 {
    right: auto;
  }

  .pull-sm-1 {
    right: 8.33333%;
  }

  .pull-sm-2 {
    right: 16.66667%;
  }

  .pull-sm-3 {
    right: 25%;
  }

  .pull-sm-4 {
    right: 33.33333%;
  }

  .pull-sm-5 {
    right: 41.66667%;
  }

  .pull-sm-6 {
    right: 50%;
  }

  .pull-sm-7 {
    right: 58.33333%;
  }

  .pull-sm-8 {
    right: 66.66667%;
  }

  .pull-sm-9 {
    right: 75%;
  }

  .pull-sm-10 {
    right: 83.33333%;
  }

  .pull-sm-11 {
    right: 91.66667%;
  }

  .pull-sm-12 {
    right: 100%;
  }

  .push-sm-0 {
    left: auto;
  }

  .push-sm-1 {
    left: 8.33333%;
  }

  .push-sm-2 {
    left: 16.66667%;
  }

  .push-sm-3 {
    left: 25%;
  }

  .push-sm-4 {
    left: 33.33333%;
  }

  .push-sm-5 {
    left: 41.66667%;
  }

  .push-sm-6 {
    left: 50%;
  }

  .push-sm-7 {
    left: 58.33333%;
  }

  .push-sm-8 {
    left: 66.66667%;
  }

  .push-sm-9 {
    left: 75%;
  }

  .push-sm-10 {
    left: 83.33333%;
  }

  .push-sm-11 {
    left: 91.66667%;
  }

  .push-sm-12 {
    left: 100%;
  }

  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: $tablet-s) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .pull-md-0 {
    right: auto;
  }

  .pull-md-1 {
    right: 8.33333%;
  }

  .pull-md-2 {
    right: 16.66667%;
  }

  .pull-md-3 {
    right: 25%;
  }

  .pull-md-4 {
    right: 33.33333%;
  }

  .pull-md-5 {
    right: 41.66667%;
  }

  .pull-md-6 {
    right: 50%;
  }

  .pull-md-7 {
    right: 58.33333%;
  }

  .pull-md-8 {
    right: 66.66667%;
  }

  .pull-md-9 {
    right: 75%;
  }

  .pull-md-10 {
    right: 83.33333%;
  }

  .pull-md-11 {
    right: 91.66667%;
  }

  .pull-md-12 {
    right: 100%;
  }

  .push-md-0 {
    left: auto;
  }

  .push-md-1 {
    left: 8.33333%;
  }

  .push-md-2 {
    left: 16.66667%;
  }

  .push-md-3 {
    left: 25%;
  }

  .push-md-4 {
    left: 33.33333%;
  }

  .push-md-5 {
    left: 41.66667%;
  }

  .push-md-6 {
    left: 50%;
  }

  .push-md-7 {
    left: 58.33333%;
  }

  .push-md-8 {
    left: 66.66667%;
  }

  .push-md-9 {
    left: 75%;
  }

  .push-md-10 {
    left: 83.33333%;
  }

  .push-md-11 {
    left: 91.66667%;
  }

  .push-md-12 {
    left: 100%;
  }

  .offset-md-0 {
    margin-left: 0%;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: $tablet-m) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .pull-lg-0 {
    right: auto;
  }

  .pull-lg-1 {
    right: 8.33333%;
  }

  .pull-lg-2 {
    right: 16.66667%;
  }

  .pull-lg-3 {
    right: 25%;
  }

  .pull-lg-4 {
    right: 33.33333%;
  }

  .pull-lg-5 {
    right: 41.66667%;
  }

  .pull-lg-6 {
    right: 50%;
  }

  .pull-lg-7 {
    right: 58.33333%;
  }

  .pull-lg-8 {
    right: 66.66667%;
  }

  .pull-lg-9 {
    right: 75%;
  }

  .pull-lg-10 {
    right: 83.33333%;
  }

  .pull-lg-11 {
    right: 91.66667%;
  }

  .pull-lg-12 {
    right: 100%;
  }

  .push-lg-0 {
    left: auto;
  }

  .push-lg-1 {
    left: 8.33333%;
  }

  .push-lg-2 {
    left: 16.66667%;
  }

  .push-lg-3 {
    left: 25%;
  }

  .push-lg-4 {
    left: 33.33333%;
  }

  .push-lg-5 {
    left: 41.66667%;
  }

  .push-lg-6 {
    left: 50%;
  }

  .push-lg-7 {
    left: 58.33333%;
  }

  .push-lg-8 {
    left: 66.66667%;
  }

  .push-lg-9 {
    left: 75%;
  }

  .push-lg-10 {
    left: 83.33333%;
  }

  .push-lg-11 {
    left: 91.66667%;
  }

  .push-lg-12 {
    left: 100%;
  }

  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: $tablet-l) {
  .col-lg2-3 {
    flex: 0 0 21.33333%;
    min-width: 21.33333%;
  }

  .col-lg2-2 {
    flex: 0 0 36%;
    min-width: 36%;
  }

  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    min-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }

  .pull-xl-0 {
    right: auto;
  }

  .pull-xl-1 {
    right: 8.33333%;
  }

  .pull-xl-2 {
    right: 16.66667%;
  }

  .pull-xl-3 {
    right: 25%;
  }

  .pull-xl-4 {
    right: 33.33333%;
  }

  .pull-xl-5 {
    right: 41.66667%;
  }

  .pull-xl-6 {
    right: 50%;
  }

  .pull-xl-7 {
    right: 58.33333%;
  }

  .pull-xl-8 {
    right: 66.66667%;
  }

  .pull-xl-9 {
    right: 75%;
  }

  .pull-xl-10 {
    right: 83.33333%;
  }

  .pull-xl-11 {
    right: 91.66667%;
  }

  .pull-xl-12 {
    right: 100%;
  }

  .push-xl-0 {
    left: auto;
  }

  .push-xl-1 {
    left: 8.33333%;
  }

  .push-xl-2 {
    left: 16.66667%;
  }

  .push-xl-3 {
    left: 25%;
  }

  .push-xl-4 {
    left: 33.33333%;
  }

  .push-xl-5 {
    left: 41.66667%;
  }

  .push-xl-6 {
    left: 50%;
  }

  .push-xl-7 {
    left: 58.33333%;
  }

  .push-xl-8 {
    left: 66.66667%;
  }

  .push-xl-9 {
    left: 75%;
  }

  .push-xl-10 {
    left: 83.33333%;
  }

  .push-xl-11 {
    left: 91.66667%;
  }

  .push-xl-12 {
    left: 100%;
  }

  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
