

// FONTS
$main-font: Arial, sans-serif;
// BREAKPOINTS
$desktop-l: 1900px;
$desktop-m: 1560px;
$desktop-s: 1280px;
$tablet-l: 1024px;
$tablet-m: 992px;
$tablet-s: 768px;
$mobile-s: 560px;
$mobile-xs: 420px;
